@font-face
    font-family: 'TT Norms Light'
    src: url('../assets/fonts/TTNorms-Light.eot')
    src: url('../assets/fonts/TTTNorms-Light.eot') format('embedded-opentype')
    src: url('../assets/fonts/TTNorms-Light.woff') format('woff')
    src: url('../assets/fonts/TTNorms-Light.ttf') format('truetype')
    font-weight: normal
    font-style: normal

.white-tiny
    font-size: 12px
    color: $txt-white

.white-xxs
    font-size: 16px
    color: $txt-white
.white-xs
    font-size: 18px
    color: $txt-white
    line-height: 26px
.white-small
    font-size: 21px
    color: $txt-white
    line-height: 30px

.white-medium
    font-size: 32px
    color: $txt-white

.white-lg
    font-size: 38px
    color: $txt-white

.blue-tiny
    font-size: 12px
    color: $txt-blue

.blue-xs
    font-size: 14px
    color: $txt-blue

.blue-small
    font-size: 16px
    color: $txt-blue

.blue-medium
    font-size: 18px
    color: $txt-blue

.blue-lg
    font-size: 24px
    color: $txt-blue

.grey-tiny
    font-size: 12px
    color: $txt-grey
.grey-xs
    font-size: 16px
    color: $txt-grey

.grey-small
    font-size: 18px
    color: $txt-grey

.grey-lg
    font-size: 42px
    color: $txt-grey

.dark-xs
    font-size: 14px
    color: $txt-dark

.dark-small
    font-size: 16px
    color: $txt-dark

.dark-medium
    font-size: 18px
    color: $txt-dark
.dark-lg
    font-size: 38px
    color: $txt-dark

.darksoft-lg
    font-size: 24px
    color: $txt-darksoft

.black-xs
    font-size: 16px
    color: $txt-black
    line-height: 22px

.black-small
    font-size: 18px
    color: $txt-black

.black-medium
    font-size: 21px
    color: $txt-black

.liner-gradient
    background-image: linear-gradient(178deg, #F0145A 50%, #EF8080 70%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    font-size: 42px

.liner-gradient-reverse
    background-image: linear-gradient(350deg, #F0145A 50%, #EF8080 70%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    font-size: 42px
.crimson
    font-size: 14px
    color: $txt-crimson

.uppercase
    text-transform: uppercase
