.page
    width: 100%
    background-repeat: no-repeat
    background-size: cover
    &--100vh
        height: 100vh
        border: none
    &--background-main
        background-image: url('../assets/img/background_main.svg')
    &--bgc-splash
        background-image: url('../assets/img/Splash.svg')
        height: calc( 100vh - 200px )
        width: 100%
        max-width: 700px
        margin: 5% auto 0
        background-size: auto
        display: flex
        justify-content: flex-end
        flex-direction: column
    &--background-cervices
        background-image: url('../assets/img/background2_main.svg')
    &--articles-main
        background-image: url('../assets/img/background4_main_grey.svg')
    &--about-team
        background-image: url('../assets/img/team_slider.png')
        min-height: 438px
    &--justify-between
        display: flex
        flex-direction: column
        justify-content: space-between
.page
    &--background-team
        background-image: url('../assets/img/background3_main_grey.svg')
        border-radius: 12px
.header-wrap
    padding-top: 50px
.header-logo
    &--mobile
        display: none
.burger-menu
    display: none
    position: relative
    width: 30px
    &--toggle
        z-index: 3
        position: absolute
        width: 20px
        height: 20px
        top: 0
        left: 0
        cursor: pointer
        opacity: 0
        outline: 1px solid black
        pointer-events: all
    &--burger
        z-index: 2
        position: absolute
        width: 20px
        height: 20px
        top: 0
        left: 0
        padding: 5px
        span
            content: ''
            display: block
            width: 18px
            height: 2px
            position: absolute
            margin-top: 6px
            background: rgba(255, 255, 255, 1)
            border-radius: 2px
            &::after,
            &::before
                content: ''
                display: block
                width: 18px
                height: 2px
                position: absolute
                background: rgba(255, 255, 255, 1)
                border-radius: 2px
            &::after
                margin-top: 5px
            &::before
                margin-top: -5px

.container
    max-width: 1320px
    padding: 0 15px
    margin: 0 auto
    &--button-slider-nav
        text-align: center

    &--dark
        display: flex
        align-items: center
        flex-wrap: wrap

.menu-wrap
    justify-content: flex-end

.menu-button
    &--dark
        align-items: right

.menu__item-pages
    margin-right: 15px

.menu__item
    margin-right: 15px
    padding-bottom: 5px

.fb-logo
    display: inline-block
    background-repeat: no-repeat
    &--white
        background-image: url('../assets/img/facebook_white.svg')
        height: 24px
        width: 24px
    &--blue
        background-image: url('../assets/img/logo-fb-blue.svg')
        height: 38px
        width: 38px
    &--grey
        background-image: url('../assets/img/fb-logo-grey.svg')
        height: 24px
        width: 24px

.background_logo
    background-image: url('../assets/img/symbol-Long-leg.svg')
    background-repeat: no-repeat
    height: 100%
    max-width: 500px
    background-size: cover
    margin: 20% auto 1%
    display: flex
    flex-direction: column
    justify-content: space-between
.section-moto
    padding-top: 45px
.circle-wrap
    text-align: center
    background-image: url('../assets/img/bottom-gradient.svg')
    display: flex
    justify-content: flex-end
    align-items: center
    flex-direction: column
    background-size: cover
    height: 200px

.h1__motto
    text-align: center
.flex__benefits
    padding-top: 80px
.nav__benegits
    width: 40%

.description_benefits
    width: 45%
    margin-left: 40px
.title-benefits
    margin-bottom: 20px
.item-benefit
    padding-right: 40px
    border-right: 4px solid
    cursor: pointer
    text-align: right
    word-wrap: break-word
    &:hover
        color: $txt-crimson
        background: linear-gradient(270deg, #F0145A 30%, #EF8080 70%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        font-size: 42px
.benefits
    padding: 6% 12px
    &--title
        color: $txt-white
        font-size: 22px
        line-height: 26px
        margin-bottom: 15px

.container-main-team
    margin-top: 60px
.breadcrumbs
    text-transform: uppercase
    color: $txt-white
    font-size: 14px
    &--padding-top
        padding-top: 40px
    &.breadcrumbs-blue
        color: $txt-blue
    .arrow-small
        width: 5px
        height: 5px
        border-width: 0px 2px 2px 0px
        border-style: solid
        display: inline-block
        margin: 2px
        transform: rotate(316deg)
        &--white
            border-color: $bgc-white

        &--blue
            border-color: $bgc-blue
.title-position
    &--gradient
        margin-bottom: 80px
.services
    &--mobile
        display: none
.services-bgr
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%)
    border-radius: 0px 0px 12px 12px
    padding: 80px 0
.services-row
    margin: 0 -15px
.item-service
    width: 29%
    margin: 20px
    .title-service
        padding-bottom: 15px
.services-position
    margin-top: 58px
    margin-bottom: 80px
.item-icon
    background-repeat: no-repeat
    height: 92px
    width: 92px
    margin-bottom: 20px
    &--bag
        background-image: url('../assets/img/icon-bag.svg')
    &--Icon-briefbag
        background-image: url('../assets/img/Icon-briefbag.svg')
    &--Icon-molecula
        background-image: url('../assets/img/Icon-molecula.svg')
    &--icon-hands
        background-image: url('../assets/img/icon-hands.svg')
    &--icon-pad
        background-image: url('../assets/img/icon-pad.svg')
    &--icon-court
        background-image: url('../assets/img/Icon-court.svg')
.team-slider-wrapper
    padding-bottom: 60px
    margin-top: 50px
.team-slider
    &--photo-wrapper
        width: 31%
        max-width: 413px
        height: auto
    &--photo
        width: 100%

.section_team
    width: 69%
    padding: 40px
    .liner-gradient
        line-height: 50px
.photo_team
    background-repeat: no-repeat
    height: 500px
    min-width: 413px
    background-image: url('../assets/img/photo__page-team.svg')

.wrap-position-alex
    margin-top: 20px

.button-position
    margin-bottom: 40px
    margin-top: 20px
.title-clients-logo
    margin: 30px auto
    text-align: center
.logo-clients
    &-wrap
        display: grid

        max-width: 1440px
        margin: 0, aut0
        grid-template-columns: repeat(4, 1fr)

.button-article
    background-color: $bgc-blue
    border: none
    border-radius: 6px 6px
    width: 250px
    height: 50px
    color: $bgc-white
    font-size: 14px
    cursor: pointer
    display: block
.articles-wrap
    display: flex
    position: relative
    flex-wrap: wrap
    justify-content: space-between
    .expander
        width: 102%
        height: 30%
        max-height: 200px
        position: absolute
        bottom: 0
        display: flex
        align-items: center
        justify-content: center
        background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%)
    .article-col
        width: 32%
        min-width: 250px
        .article
            width: 100%
            background-color: $bgc-white
            margin-bottom: 20px
            min-width: 250px
            border-radius: 8px
            &--image
                img
                    width: 100%
            &--title
                padding: 20px 0
                margin: 20px
                border-bottom: 1px solid $txt-grey
            &--content
                padding: 0 20px 20px

.achivement
    width: 300px
    height: 109px
    &--legal
        background-image: url('../assets/img/achivements1.svg')
    &--red
        background-image: url('../assets/img/achivements2.svg')
    &--leaders
        background-image: url('../assets/img/achivements3.svg')
    &--ulf
        background-image: url('../assets/img/achivements4.svg')

.foto-team-player
    width: 413px
    height: 500px
    &--alex
        background-image: url('../assets/img/teamplayer1.svg')
    &--oksana
        background-image: url('../assets/img/teamplayer2.svg')
    &--vladislav
        background-image: url('../assets/img/teamplayer3.svg')
    &--vladislav2
        background-image: url('../assets/img/teamplayer4.svg')
    &--oksana2
        background-image: url('../assets/img/teamplayer5.svg')
    &--julia
        background-image: url('../assets/img/teamplayer6.svg')

.footer-bgs
    background-color: $bgc-light-grey
    border-radius: 12px 0 0 12px

.footer-position
    padding-top: 35px
    padding-bottom: 50px

.menu__item
    &--footer-facebook
        margin-right: 10px
.address-position
    margin-right: 31px
.circle-footer
    margin: 2px 6px
.footer-row-two
    margin-top: 20px
.menu-item-language-white
    padding: 3px
    margin-right: 15px

.content-about
    &--text
        width: 60%
    &--symbol
        width: 30%
    &--subtitle
        width: 35%

.icon-about
    display: block
    background-size: cover
    background-repeat: no-repeat
    margin-right: 12px

    &--flag
        background-image: url('../assets/img/icon_flag.svg')
        width: 26px
        height: 26px
    &--icon-bag
        background-image: url('../assets/img/icon_bag_sm.svg')
        width: 27px
        height: 26px
    &--icon-star
        background-image: url('../assets/img/icon_star.svg')
        width: 26px
        height: 26px

.container-min
    max-width: 1063px
    margin: 0 auto
    padding: 0 15px

.item-about

    border-left: 4px solid $bgc-light-grey
    padding-left: 20px

.container-min
    &--top
        margin-top: 82px
        margin-bottom: 100px

.achivement-wrap
    padding: 20px
.achivements-wrap
    margin: 30px
.row-two-menu
    margin-top: 19px
.achivement-logo
    text-align: center
    margin: 0 auto
.button-slider
    &--about
        text-align: center
        margin: 14px

#carouselExampleIndicators,
#carouselServicesIndicators
    .carousel-indicators
        button
            width: 16px
            height: 16px
            border-radius: 50%
            background-color: $bgc-blue
            margin-left: 14px

.title-team-wrap
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    min-height: 438px

.liner-gradient-position
    margin-bottom: 20px
.header-team-position
    width: 62%
    margin: 80px auto

.position-wrap
    margin-top: 20px
    margin-bottom: 40px
.position-wrap-row-two
    margin-bottom: 60px
.section-alex
    width: 50%
.container-small
    max-width: 1095px
    padding: 0 15px
    margin-top: 80px
    margin-bottom: 80px

.data-player-wrap
    padding-bottom: 20px
    border-bottom: 4px solid $bgc-grey
.name-player-position
    margin-bottom: 13px

.page-border
    border-radius: 12px 0 0 12px
.achivement-border
    border-bottom: 4px solid $bgc-grey
.grid-wrapper
    width: 100%
    max-width: 1320px
    background-color: $bgc-light-grey
    border-radius: 12px
    margin: 0 auto
    display: grid
    grid-template-columns: repeat(130, 1fr)
    .grid-item
        border: 1px solid $txt-white
        padding: 20px
        display: flex
        flex-direction: column
        justify-content: flex-end
        &--1
            grid-column: 1/43
        &--2
            grid-column: 1/43
        &--3
            grid-column: 43/89
            grid-row: 1/3
        &--4
            grid-column: 89/131
            grid-row: 1/3
        &--5
            grid-column: 1/32
            grid-row: 3/5
        &--6
            grid-column: 32/78
            grid-row: 3/5
        &--7
            grid-column: 78/131
            grid-row: 3/5
        &--title
            color: #F0145A
            text-transform: uppercase
        &--client
            padding-top: 20px
.footer-container
    flex-wrap: wrap
