.page
    width: 100%
    background-repeat: no-repeat
    background-size: cover
    &--100vh
        height: 100vh
        border: none
    &--background-main
        background-image: url('../assets/img/background_main.svg')
    &--background-cervices
        background-image: url('../assets/img/background2_main.svg')
        border-radius: 0px 0px 12px 12px

    &--articles-main
        background-image: url('../assets/img/background4_main_grey.svg')
    &--about-team
        background-image: url('../assets/img/team_slider.png')
        min-height: 438px
.page
    &--background-team
        background-image: url('../assets/img/background3_main_grey.svg')
        border-radius: 10px
.header-wrap
    padding-top: 50px

.container
    max-width: 1320px
    padding: 0 15px
    width: 100%
    margin: 0 auto
    &--button-slider-nav
        text-align: center

    &--dark
        display: flex
        align-items: center
        flex-wrap: wrap

.menu-wrap
    justify-content: flex-end

.menu-button
    &--dark
        align-items: right

.menu__item-pages
    margin-right: 15px

.menu__item
    margin-right: 15px

.fb-logo
    display: inline-block
    background-repeat: no-repeat
    &--white
        background-image: url('../assets/img/facebook_white.svg')
        height: 24px
        width: 24px
    &--blue
        background-image: url('../assets/img/logo-fb-blue.svg')
        height: 38px
        width: 38px
    &--grey
        background-image: url('../assets/img/fb-logo-grey.svg')
        height: 24px
        width: 24px

.background_splash
    background-image: url('../assets/img/Splash.svg')
    background-repeat: no-repeat
    height: 70%
    display: flex
    align-items: center
    margin: 0 auto
    justify-content: center
    width: 690px
    margin-top: 64px

.background_logo
    background-image: url('../assets/img/Symbol-long.svg')
    background-repeat: no-repeat
    height: 68%

.h1__motto
    text-align: center

.nav__benegits
    width: 40%

.description_benefits
    width: 45%
    margin-left: 40px
.title-benefits
    margin-bottom: 20px
.item-benefit
    padding-right: 40px
    border-right: 4px solid $bgc-grey
    cursor: pointer
    text-align: right
    &:hover
        background-image: linear-gradient(350deg, #F0145A 50%, #EF8080 70%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        font-size: 42px
.flex-breadcrumbs
    margin-top: 80px
.container-main-team
    margin-top: 60px
.breadcrumbs
    text-transform: uppercase
    color: $txt-white
    font-size: 14px
    &.breadcrumbs-blue
        color: $txt-blue
    .arrow-small
        width: 5px
        height: 5px
        border-width: 0px 2px 2px 0px
        border-style: solid
        display: inline-block
        margin: 2px
        transform: rotate(316deg)
        &--white
            border-color: $bgc-white

        &--blue
            border-color: $bgc-blue
.title-position
    &--gradient
        margin-bottom: 80px
.item-service
    width: 30%
.services-position
    margin-top: 58px
    margin-bottom: 80px
.item-icon
    background-repeat: no-repeat
    height: 92px
    width: 92px
    margin-bottom: 20px
    &--bag
        background-image: url('../assets/img/icon-bag.svg')
    &--Icon-briefbag
        background-image: url('../assets/img/Icon-briefbag.svg')
    &--Icon-molecula
        background-image: url('../assets/img/Icon-molecula.svg')
    &--icon-hands
        background-image: url('../assets/img/icon-hands.svg')
    &--icon-pad
        background-image: url('../assets/img/icon-pad.svg')
    &--icon-court
        background-image: url('../assets/img/Icon-court.svg')

.shadow1
    width: 90%
    height: 10px
    color: #CACADB
.shadow:before

.shadow:after

.photo_team
    background-repeat: no-repeat
    height: 500px
    min-width: 413px
    background-image: url('../assets/img/photo__page-team.svg')

.section_team
    max-width: 827px
    margin-top: 40px

.wrap-position-alex
    margin-top: 20px

.button-position
    margin-bottom: 40px
    margin-top: 20px
.cases
    display: flex
    flex-wrap: wrap
    .case
        border: 1px solid White
        padding: 40px
.first_case

    border: 1px solid White
    .succesful_cases
        border: 1px solid White
        padding: 20px
    .case-content
        padding: 20px

.cases-row--two,
.cases-row--one,
    display: flex
    flex-wrap: wrap

    &--small
        width: 32%
    &--medium
        width: 34%
    &--xs
        width: 24%
    &--big
        width: 41%

.logo-clients
    background-repeat: no-repeat
    min-width: 360px
    min-height: 120px

    &--logo-hillel
        background-image: url('../assets/img/logo-hillel.png')
    &--logo-wanna-biz
        background-image: url('../assets/img/logo-wanna-biz.png')
    &--logo-tapgerine
        background-image: url('../assets/img/logo-tapgerine.svg')
    &--logo-3d-look
        background-image: url('../assets/img/logo-3d-look.svg')
    &--logo-orangear
        background-image: url('../assets/img/logo-orangear.svg')
    &--logo-adtelligent
        background-image: url('../assets/img/logo-adtelligent.svg')
    &--logo-clickky
        background-image: url('../assets/img/logo-clickky.svg')
    &--logo-eco-leasing
        background-image: url('../assets/img/logo-eco-leasing.svg')
    &--logo-infra-tek
        background-image: url('../assets/img/logo-infra-tek.svg')
    &--logo-city-park
        background-image: url('../assets/img/logo-city-park.svg')
    &--logo-art-print
        background-image: url('../assets/img/logo-art-print.svg')
    &--logo-ultimate-card
        background-image: url('../assets/img/logo-ultimate-card.svg')

.img-article
    width: 414px
    height: 233px
    background-repeat: no-repeat

    &--associate
        background-image: url('../assets/img/article1.png')
    &--gdrp
        background-image: url('../assets/img/article2.png')
    &--testament
        background-image: url('../assets/img/article3.png')
    &--ukraine
        background-image: url('../assets/img/article4.png')
    &--kid
        background-image: url('../assets/img/article5.png')
.article-button
    position: relative

.button-article
    position: absolute
    bottom: 14px
    right: 77px
    background-color: $bgc-blue
    border: none
    border-radius: 6px 6px
    width: 250px
    height: 50px
    color: $bgc-white
    font-size: 14px
    cursor: pointer
.articles
    flex-wrap: wrap
.article
    width: 30%

.achivement
    width: 300px
    height: 109px
    &--legal
        background-image: url('../assets/img/achivements1.svg')
    &--red
        background-image: url('../assets/img/achivements2.svg')
    &--leaders
        background-image: url('../assets/img/achivements3.svg')
    &--ulf
        background-image: url('../assets/img/achivements4.svg')

.foto-team-player
    width: 413px
    height: 500px
    &--alex
        background-image: url('../assets/img/teamplayer1.svg')
    &--oksana
        background-image: url('../assets/img/teamplayer2.svg')
    &--vladislav
        background-image: url('../assets/img/teamplayer3.svg')
    &--vladislav2
        background-image: url('../assets/img/teamplayer4.svg')
    &--oksana2
        background-image: url('../assets/img/teamplayer5.svg')
    &--julia
        background-image: url('../assets/img/teamplayer6.svg')

.footer-bgs
    background-color: $bgc-light-grey
.footer-position
    padding-top: 35px
    padding-bottom: 50px

.menu__item
    &--footer-facebook
        margin-right: 10px
.address-position
    margin-right: 31px
.circle-footer
    margin: 2px 6px
.footer-row-two
    margin-top: 20px
.menu-item-language-white
    padding: 3px
    margin-right: 15px

.content-about
    &--text
        width: 60%
    &--symbol
        width: 30%
    &--subtitle
        width: 35%

.icon-about
    display: block
    background-size: cover
    background-repeat: no-repeat
    margin-right: 12px

    &--flag
        background-image: url('../assets/img/icon_flag.svg')
        width: 26px
        height: 26px
    &--icon-bag
        background-image: url('../assets/img/icon_bag_sm.svg')
        width: 27px
        height: 26px
    &--icon-star
        background-image: url('../assets/img/icon_star.svg')
        width: 26px
        height: 26px

.container-min
    max-width: 1063px
    margin: 0 auto

.item-about

    border-left: 4px solid $bgc-light-grey
    padding-left: 20px

.container-min
    &--top
        margin-top: 82px
        margin-bottom: 100px

.achivement-wrap
    padding: 20px
.achivements-wrap
    margin: 30px
.row-two-menu
    margin-top: 19px
.achivement-logo
    text-align: center
    margin: 0 auto
.button-slider
    &--about
        text-align: center
        margin: 14px

.title-team-wrap
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    min-height: 438px

.liner-gradient-position
    margin-bottom: 20px
.header-team-position
    width: 62%
    margin: 80px auto

.position-wrap
    margin-top: 20px
    margin-bottom: 40px
.position-wrap-row-two
    margin-bottom: 60px
