@media screen and ( max-width: 990px  )
    .grid-wrapper
        display: flex
        flex-direction: column
        .grid-item
            width: 100%
    .services-row
        .item-service
            width: 40%
    .articles-wrap
        .article-col
            width: 48%
    .logo-clients
        &-wrap
            display: grid
            grid-template-columns: repeat(3, 1fr)
    .services
        &--mobile
            display: block
        &--desktop
            display: none

@media screen and ( max-width: 376px)
    .header-wrap
        padding-top: 30px
    .hide-on-mobile
        display: none
    .container
        margin: 0
        width: 96%
    .header-wrap
        .languages
        .menu-actions
            visibility: hidden
        .menu-wrap
            justify-content: space-between
    .header-logo
        display: none
        &--mobile
            display: block
    .burger-menu
        display: block
        &--burger
            top: -14px
            left: -23px

    .page
        &--bgc-splash
            background-image: none
            height: 64%
            .background_logo
                width: 90%
        &--background-cervices
    .flex-min-center
        display: none

    .services-row
        flex-direction: column
        margin: 0
        .item-service
            width: 95%
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            align-items: center
        .title-service
            width: 70%
            font-size: 18px
    .benefits
        padding: 10% 12px
    .team-slider-wrapper
        .team-slider
            flex-direction: column-reverse
            .section_team
                padding: 20px
                width: 100%
                .liner-gradient
                    font-size: 32px
                    line-height: 38px
            .team-slider--photo-wrapper
                margin: 0 20px 20px 20px
                width: 60px
                height: 60px
                border-radius: 50%
                overflow: hidden
    .articles-wrap
        .article-col
            width: 100%
    .logo-clients
        &-wrap
            display: grid
            grid-template-columns: repeat(2, 1fr)
    footer
        .flex
            flex-direction: column
            align-items: center
    .circle-footer
        display: none
    .footer-items
        padding-left: 0
    .address-position
        margin: 0
    .flex-min-betwen
        &--footer
            justify-content: center
    .rights
        &--mobile
            margin-left: 20px
            margin-right: 20px
            text-align: center
    .menu
        &--dark
            padding-left: 0
