@media screen and ( max-width: 890px  )
    .grid-wrapper
        display: flex
        flex-direction: column
        .grid-item
            width: 100%
    .services-row
        .item-service
            width: 40%

@media screen and ( max-width: 376px)
    .hide-on-mobile
        display: none
    .container
        margin: 0
        width: 96%
    .header-wrap
        .languages
        .menu-actions
            visibility: hidden
        .menu-wrap
            justify-content: space-between
    .header-logo
        display: none
        &--mobile
            display: block
    .burger-menu
        display: block
        &:hover
            .header-wrap
                .menu-actions
                    visibility: visible

    .page
        &--bgc-splash
            background-image: none
            height: 64%
            .background_logo
                width: 90%
        &--background-cervices
    .flex-min-center
        display: none

    .services-row
        flex-direction: column
        .item-service
            width: 95%
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            align-items: center
        .title-service
            width: 70%
            font-size: 18px
