
$txt-white: #FFFFFF
$txt-blue: #24A3FF
$txt-crimson: #F0145A
$txt-grey: #B3B3BA
$txt-dark: #323264
$txt-darksoft: #686887
$txt-black: #000000

$bgc-crimson: #F0145A
$bgc-white: #FFFFFF
$bgc-grey: #B3B3BA
$bgc-blue: #24A3FF
$bgc-light-grey: #F5F5FA

$gradient-red-top: #F0145A
$gradient-red-buttom: #EF8080
