body, html, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-family: 'TT Norms Light';
  display: block;
}

li,
ul,
a {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.menu__item-languages {
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.menu__item-languages:hover {
  background-color: #F0145A;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.menu__item--grey {
  color: #B3B3BA;
}

.menu__item--blue {
  color: #24A3FF;
}

.menu__item--blue:hover {
  color: #F0145A;
  padding-bottom: 2px;
  border-bottom: 1px solid #F0145A;
  cursor: pointer;
}

.circle {
  width: 6px;
  height: 6px;
  border-width: 0 2px 2px 0;
  border-radius: 50px;
  display: inline-block;
  margin: 2px 4px;
}

.circle--white {
  background-color: #FFFFFF;
}

.circle--grey {
  background-color: #B3B3BA;
}

.button__cercle {
  width: 42px;
  height: 42px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background-color: #323264;
}

.button__cercle:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation: duration 0.05s;
          animation: duration 0.05s;
}

.arrow__down {
  width: 9px;
  height: 9px;
  border-width: 0 3px 3px 0;
  border-color: #FFFFFF;
  border-style: solid;
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow__down:hover {
  animation-direction: reverse;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-nav {
  background-color: #24A3FF;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin-left: 14px;
  text-align: center;
}

.slash {
  background-image: url("../assets/img/Slash.svg");
  width: 21px;
  height: 46px;
  background-repeat: no-repeat;
}

.logo-symbol {
  background-image: url("../assets/img/P.svg");
  width: 41px;
  height: 47px;
  background-repeat: no-repeat;
  margin-left: 4px;
}

.person-link {
  width: 32px;
  height: 32px;
  border: none;
  background-color: #B3B3BA;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  display: inline-block;
  cursor: pointer;
}

.person-link,
.person-link-wrap {
  position: relative;
}

.arrow {
  width: 7px;
  height: 7px;
  border-width: 0 2px 2px 0;
  border-color: #24A3FF;
  border-style: solid;
  position: absolute;
  cursor: pointer;
}

.arrow--right {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 10px;
  bottom: 15px;
}

.flex-min {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-min-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-min-betwen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@font-face {
  font-family: 'TT Norms Light';
  src: url("../assets/fonts/TTNorms-Light.eot");
  src: url("../assets/fonts/TTTNorms-Light.eot") format("embedded-opentype");
  src: url("../assets/fonts/TTNorms-Light.woff") format("woff");
  src: url("../assets/fonts/TTNorms-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.white-tiny {
  font-size: 12px;
  color: #FFFFFF;
}

.white-xxs {
  font-size: 16px;
  color: #FFFFFF;
}

.white-xs {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 26px;
}

.white-small {
  font-size: 21px;
  color: #FFFFFF;
  line-height: 30px;
}

.white-medium {
  font-size: 32px;
  color: #FFFFFF;
}

.white-lg {
  font-size: 38px;
  color: #FFFFFF;
}

.white-giant {
  font-size: 63px;
  color: #FFFFFF;
}

.blue-tiny {
  font-size: 12px;
  color: #24A3FF;
}

.blue-xs {
  font-size: 14px;
  color: #24A3FF;
}

.blue-small {
  font-size: 16px;
  color: #24A3FF;
}

.blue-medium {
  font-size: 18px;
  color: #24A3FF;
}

.blue-lg {
  font-size: 24px;
  color: #24A3FF;
}

.grey-tiny {
  font-size: 12px;
  color: #B3B3BA;
}

.grey-xs {
  font-size: 16px;
  color: #B3B3BA;
}

.grey-small {
  font-size: 18px;
  color: #B3B3BA;
}

.grey-lg {
  font-size: 42px;
  color: #B3B3BA;
}

.dark-xs {
  font-size: 14px;
  color: #323264;
}

.dark-small {
  font-size: 16px;
  color: #323264;
}

.dark-medium {
  font-size: 18px;
  color: #323264;
}

.dark-lg {
  font-size: 38px;
  color: #323264;
}

.darksoft-lg {
  font-size: 24px;
  color: #686887;
}

.black-xs {
  font-size: 16px;
  color: #000000;
  line-height: 22px;
}

.black-small {
  font-size: 18px;
  color: #000000;
}

.black-medium {
  font-size: 21px;
  color: #000000;
}

.liner-gradient {
  background-image: linear-gradient(178deg, #F0145A 50%, #EF8080 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 42px;
}

.liner-gradient-reverse {
  background-image: linear-gradient(350deg, #F0145A 50%, #EF8080 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 42px;
}

.crimson {
  font-size: 14px;
  color: #F0145A;
}

.uppercase {
  text-transform: uppercase;
}

.page {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.page--100vh {
  height: 100vh;
  border: none;
}

.page--background-main {
  background-image: url("../assets/img/background_main.svg");
}

.page--background-cervices {
  background-image: url("../assets/img/background2_main.svg");
  border-radius: 0px 0px 12px 12px;
}

.page--articles-main {
  background-image: url("../assets/img/background4_main_grey.svg");
}

.page--about-team {
  background-image: url("../assets/img/team_slider.png");
  min-height: 438px;
}

.page--background-team {
  background-image: url("../assets/img/background3_main_grey.svg");
  border-radius: 10px;
}

.header-wrap {
  padding-top: 50px;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.container--button-slider-nav {
  text-align: center;
}

.container--dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-wrap {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu-button--dark {
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.menu__item-pages {
  margin-right: 15px;
}

.menu__item {
  margin-right: 15px;
}

.fb-logo {
  display: inline-block;
  background-repeat: no-repeat;
}

.fb-logo--white {
  background-image: url("../assets/img/facebook_white.svg");
  height: 24px;
  width: 24px;
}

.fb-logo--blue {
  background-image: url("../assets/img/logo-fb-blue.svg");
  height: 38px;
  width: 38px;
}

.fb-logo--grey {
  background-image: url("../assets/img/fb-logo-grey.svg");
  height: 24px;
  width: 24px;
}

.background_splash {
  background-image: url("../assets/img/Splash.svg");
  background-repeat: no-repeat;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 690px;
  margin-top: 64px;
}

.background_logo {
  background-image: url("../assets/img/Symbol-long.svg");
  background-repeat: no-repeat;
  height: 68%;
}

.h1__motto {
  text-align: center;
}

.nav__benegits {
  width: 40%;
}

.description_benefits {
  width: 45%;
  margin-left: 40px;
}

.title-benefits {
  margin-bottom: 20px;
}

.item-benefit {
  padding-right: 40px;
  border-right: 4px solid #B3B3BA;
  cursor: pointer;
  text-align: right;
}

.item-benefit:hover {
  background-image: linear-gradient(350deg, #F0145A 50%, #EF8080 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 42px;
}

.flex-breadcrumbs {
  margin-top: 80px;
}

.container-main-team {
  margin-top: 60px;
}

.breadcrumbs {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 14px;
}

.breadcrumbs.breadcrumbs-blue {
  color: #24A3FF;
}

.breadcrumbs .arrow-small {
  width: 5px;
  height: 5px;
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  display: inline-block;
  margin: 2px;
  -webkit-transform: rotate(316deg);
          transform: rotate(316deg);
}

.breadcrumbs .arrow-small--white {
  border-color: #FFFFFF;
}

.breadcrumbs .arrow-small--blue {
  border-color: #24A3FF;
}

.title-position--gradient {
  margin-bottom: 80px;
}

.item-service {
  width: 30%;
}

.services-position {
  margin-top: 58px;
  margin-bottom: 80px;
}

.item-icon {
  background-repeat: no-repeat;
  height: 92px;
  width: 92px;
  margin-bottom: 20px;
}

.item-icon--bag {
  background-image: url("../assets/img/icon-bag.svg");
}

.item-icon--Icon-briefbag {
  background-image: url("../assets/img/Icon-briefbag.svg");
}

.item-icon--Icon-molecula {
  background-image: url("../assets/img/Icon-molecula.svg");
}

.item-icon--icon-hands {
  background-image: url("../assets/img/icon-hands.svg");
}

.item-icon--icon-pad {
  background-image: url("../assets/img/icon-pad.svg");
}

.item-icon--icon-court {
  background-image: url("../assets/img/Icon-court.svg");
}

.shadow1 {
  width: 90%;
  height: 10px;
  color: #CACADB;
}

.photo_team {
  background-repeat: no-repeat;
  height: 500px;
  min-width: 413px;
  background-image: url("../assets/img/photo__page-team.svg");
}

.section_team {
  max-width: 827px;
  margin-top: 40px;
}

.wrap-position-alex {
  margin-top: 20px;
}

.button-position {
  margin-bottom: 40px;
  margin-top: 20px;
}

.cases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cases .case {
  border: 1px solid White;
  padding: 40px;
}

.first_case {
  border: 1px solid White;
}

.first_case .succesful_cases {
  border: 1px solid White;
  padding: 20px;
}

.first_case .case-content {
  padding: 20px;
}

.cases-row--two,
.cases-row--one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cases-row--two--small,
.cases-row--one--small {
  width: 32%;
}

.cases-row--two--medium,
.cases-row--one--medium {
  width: 34%;
}

.cases-row--two--xs,
.cases-row--one--xs {
  width: 24%;
}

.cases-row--two--big,
.cases-row--one--big {
  width: 41%;
}

.logo-clients {
  background-repeat: no-repeat;
  min-width: 360px;
  min-height: 120px;
}

.logo-clients--logo-hillel {
  background-image: url("../assets/img/logo-hillel.png");
}

.logo-clients--logo-wanna-biz {
  background-image: url("../assets/img/logo-wanna-biz.png");
}

.logo-clients--logo-tapgerine {
  background-image: url("../assets/img/logo-tapgerine.svg");
}

.logo-clients--logo-3d-look {
  background-image: url("../assets/img/logo-3d-look.svg");
}

.logo-clients--logo-orangear {
  background-image: url("../assets/img/logo-orangear.svg");
}

.logo-clients--logo-adtelligent {
  background-image: url("../assets/img/logo-adtelligent.svg");
}

.logo-clients--logo-clickky {
  background-image: url("../assets/img/logo-clickky.svg");
}

.logo-clients--logo-eco-leasing {
  background-image: url("../assets/img/logo-eco-leasing.svg");
}

.logo-clients--logo-infra-tek {
  background-image: url("../assets/img/logo-infra-tek.svg");
}

.logo-clients--logo-city-park {
  background-image: url("../assets/img/logo-city-park.svg");
}

.logo-clients--logo-art-print {
  background-image: url("../assets/img/logo-art-print.svg");
}

.logo-clients--logo-ultimate-card {
  background-image: url("../assets/img/logo-ultimate-card.svg");
}

.img-article {
  width: 414px;
  height: 233px;
  background-repeat: no-repeat;
}

.img-article--associate {
  background-image: url("../assets/img/article1.png");
}

.img-article--gdrp {
  background-image: url("../assets/img/article2.png");
}

.img-article--testament {
  background-image: url("../assets/img/article3.png");
}

.img-article--ukraine {
  background-image: url("../assets/img/article4.png");
}

.img-article--kid {
  background-image: url("../assets/img/article5.png");
}

.article-button {
  position: relative;
}

.button-article {
  position: absolute;
  bottom: 14px;
  right: 77px;
  background-color: #24A3FF;
  border: none;
  border-radius: 6px 6px;
  width: 250px;
  height: 50px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.articles {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.article {
  width: 30%;
}

.achivement {
  width: 300px;
  height: 109px;
}

.achivement--legal {
  background-image: url("../assets/img/achivements1.svg");
}

.achivement--red {
  background-image: url("../assets/img/achivements2.svg");
}

.achivement--leaders {
  background-image: url("../assets/img/achivements3.svg");
}

.achivement--ulf {
  background-image: url("../assets/img/achivements4.svg");
}

.foto-team-player {
  width: 413px;
  height: 500px;
}

.foto-team-player--alex {
  background-image: url("../assets/img/teamplayer1.svg");
}

.foto-team-player--oksana {
  background-image: url("../assets/img/teamplayer2.svg");
}

.foto-team-player--vladislav {
  background-image: url("../assets/img/teamplayer3.svg");
}

.foto-team-player--vladislav2 {
  background-image: url("../assets/img/teamplayer4.svg");
}

.foto-team-player--oksana2 {
  background-image: url("../assets/img/teamplayer5.svg");
}

.foto-team-player--julia {
  background-image: url("../assets/img/teamplayer6.svg");
}

.footer-bgs {
  background-color: #F5F5FA;
}

.footer-position {
  padding-top: 35px;
  padding-bottom: 50px;
}

.menu__item--footer-facebook {
  margin-right: 10px;
}

.address-position {
  margin-right: 31px;
}

.circle-footer {
  margin: 2px 6px;
}

.footer-row-two {
  margin-top: 20px;
}

.menu-item-language-white {
  padding: 3px;
  margin-right: 15px;
}

.content-about--text {
  width: 49%;
}

.content-about--symbol {
  width: 30%;
}

.content-about--subtitle {
  width: 35%;
}

.icon-about {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 12px;
}

.icon-about--flag {
  background-image: url("../assets/img/icon_flag.svg");
  width: 26px;
  height: 26px;
}

.icon-about--icon-bag {
  background-image: url("../assets/img/icon_bag_sm.svg");
  width: 27px;
  height: 26px;
}

.icon-about--icon-star {
  background-image: url("../assets/img/icon_star.svg");
  width: 26px;
  height: 26px;
}

.container-min {
  max-width: 1063px;
  margin: 0 auto;
}

.item-about {
  border-left: 4px solid #F5F5FA;
  padding-left: 20px;
}

.container-min--top {
  margin-top: 82px;
  margin-bottom: 100px;
}

.title-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.achivement-wrap {
  padding: 20px;
}

.achivements-wrap {
  margin: 30px;
}

.row-two-menu {
  margin-top: 19px;
}

.achivement-logo {
  text-align: center;
  margin: 0 auto;
}

.button-slider--about {
  text-align: center;
  margin: 14px;
}

.slider-nav--about:hover {
  color: #24A3FF;
  opacity: 20%;
}
